* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*----------------GENERALES-------------*/

html {
    text-decoration: none;
    font-size: 62.5%;
}

body {
    /*font-family: 'Inter', sans-serif;*/
    background: rgb(199,182,209);
    background: radial-gradient(circle, rgba(199,182,209,1) 0%, rgba(171,111,242,1) 100%);
    color: #201828 /*#5F5F5F*/;
    display: grid;
    grid-template-rows: auto 1fr auto;
    /*/grid-template-rows: auto 1fr 1fr;*/
    min-height: 100vh;
    grid-template-areas:"header"
                        "center-grid"
                        "footer";
}

header {
    grid-area: header;
}

.center-grid {
    grid-area: center-grid;
}

footer {
    grid-area: footer;
    background: #8d5cc5;
}

.navbar a {
    color: #201828;
}
.hero {
    background: #533872;
}

.hero h1 {
    color: #fff;
    text-shadow: 0 2px 2px rgba(0,0,0,.5);
    font-weight: 700;
    margin-bottom: .3em;
    margin-top: 0;
}

.default .btn {
    background-color: #201828;
    border-color: #39284b;
}

.default .btn:hover {
    background-color: #39284b;
    border-color: #39284b;
}